.smart-pag__search-block {
    margin-bottom: 20px;
}

.smart-pag-active1, .smart-pag-active999  {
    display: block;
}
.smart-pag-hide {
    display: none;
}
.smart-pag__table {
    border-collapse: collapse;
    width: 100%;
    font-size: 15px !important;
}
.smart-pag__table-cell {
    border: 1px solid #ddd;
    text-align: left;
    padding: 5px;
    max-width: 200px;

}
.smart-pag__table-row:nth-child(even) {
    background: #dddddd;
}
.smart-pag__search-input {
    border: 1px solid #000;
    border-radius: 6px;
    width: 20%;
    padding: 10px;
}
.smart-pag__pagination-block {
    display: flex;
    padding-top: 20px;
    align-items: center;
}
.smart-pag__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    background: #fff;
    color: #3498DB;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 5px;
}

.smart-pag__button:hover {
    background: #3498DB;
    color: #fff;

}
.smart-pag__next, .smart-pag__pre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    background: #fff;
    color: #3498DB;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    margin: 0 5px;
}
.smart-pag__next:hover, .smart-pag__pre:hover {
    background: #3498DB;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}
.smart-pag-active1, .smart-pag-active999 {
    background-color: #3498DB !important;
    color: #fff !important;
    color: #fff;
    border-radius: 50%;
    transition: 0.2s;
}


.smart-pag__btn {
    display: flex;
}

.smart-pag__btns-hide {
    display: none;
}

.smart-pag__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    background: #fff;
    color: #3498DB;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 5px;
}
